[submodule "lustro_fs_app"]
	path = lustro_fs_app
	url = git@github.com:/wiacekmarcin/lustro_fs_app.git
[submodule "WC.controller"]
	path = WC.controller
	url = git@github.com:/wiacekmarcin/WC.git
[submodule "HA_energyCalc"]
	path = HA_energyCalc
	url = ../HA_energyCalc/
[submodule "HA_energyAnalize"]
	path = HA_energyAnalize
	url = git@github.com:wiacekmarcin/HA_energyAnalize.git
[submodule "HA_calendarTCP"]
	path = HA_calendarTCP
	url = git@github.com:wiacekmarcin/HA_calendarTCP.git
